.sample {
  min-height: 100vh;
  background-color: lightcyan;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}