.sample {
  min-height: 100vh;
  background-color: lightcyan;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: rgba(243, 243, 243, 0.4);
  margin-left: 7rem;
}

a {
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* <!-- ======= Join IEEE Section ======= --> */
.joinieee {
  align-content: center;
  text-align: center;
}
.joinieee .col,
.right-achievements,
.whyjoin {
  background-color: white;
}

.whyjoin {
  /* max-width: 100%; */
  width: 140% !important;
}

.right-achievements {
  max-width: 60%;
  margin-left: auto;
}

.padder1 {
  max-width: 0px !important;
}

/* End Join IEEE */

/* Summer school section */
#summerschool {
  max-width: 100%;
  overflow: hidden;
}
canvas {
  position: relative;
  top: 0;
  left: 0;
  z-index: -2;
}
#home {
  max-width: 100%;
  min-height: 100vh;
  color: white;
  margin-top: -60px;
  font-size: 40px;
}

.home_title {
  max-width: 100%;
  /* padding-top: 10%; */
  font-size: 70px;
  color: white;
  margin-top: -700px;
}
.home_topic {
  max-width: 100%;
  font-size: 60px;
  color: white;
}
.small_span {
  max-width: 100%;
  font-size: 20px;
}
/* end of Summer school  */
