.sample {
  min-height: 100vh;
  background-color: lightcyan;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: rgb(243, 243, 243);
}

a {
  color: #67b0d1;
}

a:hover {
  color: #8ec4dd;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* <!-- ======= Join IEEE Section ======= --> */
.joinieee{
    max-width: 90%;
    align-content: center;
    text-align: center;
}
.joinieee .col, .right-achievements, .whyjoin{
background-color: white;

}

.whyjoin{
    max-width: 100%;
}

.right-achievements{
}
/* End Join IEEE */